<nav class="navbar navbar-dark bg-warning">
    <a href="/" class="navbar-brand">
        MyBlog
    </a>

    <a href="/admin/users/login" class="navbar-brand">
        Login
    </a>
    
    <a href="/admin/categories" class="navbar-brand">
        Categories
    </a>
    <a href="/admin/articles" class="navbar-brand">
        Articles
    </a>
    <a href="/admin/users/logout" class="navbar-brand">
        logout
    </a>

</nav>

